---
layout: default
permalink: /blog/
title: Blog Archive
---

<h1>Latest Blog Posts</h1>

<div class="posts-grid">
{% for post in site.posts %}
  <article class="post-card">
    {% if post.image %}
    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="card-image">
    {% endif %}
    <div class="card-content">
      {% if post.categories %}
      <div class="card-category">{{ post.categories | first }}</div>
      {% endif %}
      
      <h3 class="card-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
      
      <p class="card-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      
      <div class="card-meta">
        <span class="meta-item">{{ post.date | date: "%B %d, %Y" }}</span>
        {% if post.author %}
        <span class="meta-item">{{ post.author }}</span>
        {% endif %}
        <span class="meta-item">
          {% assign words = post.content | number_of_words %}
          {{ words | divided_by: 200 | plus: 1 }} min read
        </span>
      </div>
    </div>
  </article>
{% endfor %}
</div>



