---
layout: default
---
<p>tag cloud: 
    {% for tag in site.tags %}
    <!-- Here's a hack to generate a "tag cloud" where the size of
    the word is directly proportional to the number of posts with
    that tag. -->
    <a href="/tags/{{ tag[0] }}/" 
    style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px">
        {{ tag[0] }} | 
    </a>
    {% endfor %}
</p>
<h1>Latest Blog Posts</h1>
{% for post in site.posts %}
    <p>{{ post.date | date_to_string }}</p>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <span style="font-size: 16px">{{ post.excerpt }}</span>
{% endfor %}
