---
---
/*Custom CSS rules*/
body {
      -webkit-font-smoothing: antialiased;
      font-family:  //
      font-family: Helvetica;
}

html {
      font-family: Helvetica;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
     font-size: 18px;
}

@import "{{ site.theme }}";